.section.top_bar {
    position: sticky;
    top: 0;
}
.section.head-top {
    position: sticky;
    top: 61px;
    display: none;
}
.main-pad-top {
    padding-top: 20px!important;
}
.top_bar {
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    position: relative;
    z-index: 12;
    .logo{display: none;}
    .flex.container {
        height: 58px;
    }
    .header-right {
        flex-grow: 8;
        &>ul {
            text-align: right;
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            &>li {
                display: inline-block;
                margin-left: 25px;
                position: relative;
                &>a {
                    height: 50px;
                    line-height: 50px;
                    &>i {
                        margin-left: 3px;
                        font-size: 16px;
                    }
                }
                strong {
                    font-weight: 500;
                }
                &:hover {
                    .sub-menu {
                        display: block;
                    }
                }
                &.ty-gia {
                    border-right: 1px solid rgba(225, 225, 225, 0.6);
                    padding: 7px 25px 0 0;
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
                .notifi{
                    position: relative;
                    font-weight: 500;
                    .coutn{
                        background: #FF0000;
                        font-size: 12px;
                        width: 16px;
                        position: absolute;
                        text-align: center;
                        border-radius: 50%;
                        height: 16px;
                        line-height: 16px;
                        left: 10px;
                        top: -8px;
                        color: #fff;
                    }
                }
                .list {
                    background: #fff;
                    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                    position: absolute;
                    width: 350px;
                    right: 0;
                    top: 44px;
                    border-radius: 2px;
                    z-index: 2;
                    display: none;
                    .note {
                        color: var(--gray100);
                        padding: 6px;
                        text-align: center;
                        display: block;
                        border-bottom: 1px solid var(--gray50);
                        font-size: 12px;
                    }
                    ul {
                        margin: 0;
                        padding: 0 1px;
                        li {
                            padding: 8px 16px;
                            border-bottom: 1px solid var(--gray50);
                            text-align: left;
                            &>a{
                                position: relative;
                                padding-left: 42px;
                                display: block;
                            }
                            .ava{
                                width: 35px;
                                height: 35px;
                                border-radius: 50%;
                                position: absolute;
                                left: 0;
                                top: 3px;
                            }
                            .time{
                                color: #999;
                                display: block;
                            }
                            &.active {
                                background: var(--gray500);
                            }
                        }
                    }
                    .view-all {
                        text-align: center;
                        display: block;
                        background: var(--gray200);
                        padding: 6px;
                    }
                }
            }
            .user-name {
                .lk-user-name {
                    display: inline-block;
                }
            }
            .menu-bar {
                display: inline-block;
                &.active {
                    .sub-menu {
                        display: block
                    }
                }
            }
        }
        .sub-menu {
            width: 200px;
            display: none;
            position: absolute;
            right: 0;
            top: 44px;
            z-index: 4;
            background: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            li {
                display: block;
                a {
                    padding: 12px;
                    display: block;
                    width: 100%;
                    font-size: 13px;
                    line-height: 1.2;
                    text-align: left;
                    text-decoration: none;
                    i {
                        margin-right: 6px;
                    }
                    &:hover,
                    &.active {
                        background-color: #E1E1E1;
                    }
                }
            }
        }
    }
    @media (max-width: 1025px) {
        position: sticky;
        top: 0;
        z-index: 98;
        .flex.container {
            height: 48px;
        }
        .logo {
            img {
                height: 40px;
            }
        }
        .all-menu-tablet {
            display: block;
        }
    }
    @media (max-width: 600px) {
        .logo{
            display: block;
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
        }
        .header-right {
            .setting{
                display: none;
            }
            .wrap-notifi{
                .notifi{
                    span{font-size: 0;}
                }
            }
            .user-name{
                .lk-user-name{
                    strong{
                        display: none;
                    }
                }
            }
        }
    }
    @media (max-width: 420px) {

        .header-right {
            &>ul {
                li {
                    margin-left: 15px;
                }
                .setting {
                    strong {
                        display: none;
                    }
                }
            }
        }
    }
    @media (max-width: 340px) {
        .logo {
            width: 100px;
        }
        .header-right {
            &>ul {
                li {
                    margin-left: 10px;
                }
            }
        }
        .setting {
            .sub-menu {
                left: 0;
            }
        }
    }
}

.all-menu-tablet {
    float: left;
    width: 40px;
    height: 33px;
    text-align: center;
    margin-left: -10px;
    margin-top: -10px;
    cursor: pointer;
    display: none;
    .hamburger {
        width: 20px;
        height: 2px;
        background: #333;
        display: inline-block;
        position: relative;
        &:before,
        &:after {
            content: '';
            width: 20px;
            height: 2px;
            background: #333;
            position: absolute;
            left: 0;
        }
        &:before {
            top: 6px;
        }
        &:after {
            top: 12px;
        }
    }
    &.close-menu-tablet {
        padding-top: 5px;
        .hamburger {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            &:before {
                display: none;
            }
            &:after {
                transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                top: 0;
            }
        }
    }
}

.mask-content {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 92;
    background: rgba(0, 0, 0, 0.3);
}

.head-top {
    background: var(--color-main);
    position: relative;
    z-index: 11;
    &>.flex {
        justify-content: space-between;
        align-items: center;
    }
    .header-tab {
        margin-bottom: 0;
        width: 80%;
        width: calc(100% - 100px);
        position: relative;
        padding: 0 10px;
        ul {
            display: flex;
            margin-bottom: 0;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
            margin-right: 40px;
            &::-webkit-scrollbar{
                display: none;
            }
            li {
                display: inline-block;
                position: relative;

                a {
                    line-height: 44px;
                    display: block;
                    padding: 0 20px;
                    color: #fff;
                    i {
                        margin-right: 5px;
                    }
                    &.active,
                    &:hover {
                        background: var(--color-main2);
                        border-bottom: 0;
                        color: #fff;
                    }
                }
                // &:hover,
                // &:active {
                //     .lever2 {
                //         display: block;
                //     }
                // }
                .sub-menu {
                    position: absolute;
                    padding: 0 10px;
                    top: 0;
                    line-height: 40px;
                    right: 0;
                    display: none;
                }
            }
            .lever2 {
                position: absolute;
                min-width: 250px;
                z-index: 3;
                background: var(--color-main);
                display: none;
                li {
                    display: block;
                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
        .next-nav{
            cursor: pointer;
            width: 24px;
            height: 24px;
            border: 1px solid #fff;
            border-radius: 50%;
            position: absolute;
            top: 8px;
            right: 13px;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 18px;
            &::before{
                content: '';
                width: 35px;
                height: 45px;
                background: -webkit-linear-gradient(left, rgba(255,255,255,0), #0059A1);
                background: linear-gradient(to right, rgba(255,255,255,0), #0059A1);
                display: block;
                position: absolute;
                left: -37px;
                z-index: 1;
                top: -10px;
            }
        }
        .swiper-wrapper{
            .swiper-slide{
                width: auto;
                white-space: nowrap;
            }
        }
        .swiper-button-prev, .swiper-button-next{
            cursor: pointer;
            width: 20px;
            height: 20px;
            border: 1px solid #fff;
            background: #fff;
            border-radius: 0%;
            position: absolute;
            top: 10px;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #0059A1;
            font-size: 18px;
            &::before{
                content: '';
                width: 35px;
                height: 45px;
                background: -webkit-linear-gradient(left, rgba(255,255,255,0), #0059A1);
                background: linear-gradient(to right, rgba(255,255,255,0), #0059A1);
                display: block;
                position: absolute;
                z-index: 1;
                top: -12px;
            }
            &.swiper-button-disabled{
                display: none;
            }
        }
        .swiper-button-next{
            right: 0;
            &::before{
                left: -35px;
            }
        }
        .swiper-button-prev{
            left: 0;
            &::before{
                right: -35px;
            }
        }
    }
    .menu-level-2 {
        background: #fff;
        box-shadow: 0 2px 8px rgba(0,0,0,.1);
        ul {
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li {
                margin: 0 15px;
                a {
                    display: block;
                    padding: 10px 0;
                    i {
                        margin-right: 5px;
                    }
                    &.active {
                        color: var(--color-main);
                        font-weight: 500;
                        border-bottom: 1px solid var(--color-main);
                    }
                }
            }
        }
    }
    .notifi {
        color: #fff;
        position: relative;
        font-size: 13px;
        height: 44px;
        line-height: 44px;
        i {
            margin-right: 5px;
            font-size: 15px;
        }
        .coutn {
            background: #FF0000;
            font-size: 12px;
            width: 16px;
            position: absolute;
            text-align: center;
            border-radius: 50%;
            height: 16px;
            line-height: 16px;
            left: 10px;
            top: -8px;
        }
    }
    .wrap-notifi {
        font-size: 13px;
        position: relative;
        .list {
            background: #fff;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            position: absolute;
            width: 350px;
            right: 0;
            top: 44px;
            border-radius: 2px;
            z-index: 2;
            display: none;
            .note {
                color: var(--gray100);
                padding: 6px;
                text-align: center;
                display: block;
                border-bottom: 1px solid var(--gray50);
                font-size: 12px;
            }
            ul {
                margin: 0;
                padding: 0 1px;
                li {
                    padding: 8px 16px;
                    border-bottom: 1px solid var(--gray50);
                    &>a{
                        position: relative;
                        padding-left: 42px;
                        display: block;
                    }
                    .ava{
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                        top: 3px;
                    }
                    .time{
                        color: #999;
                        display: block;
                    }
                    &.active {
                        background: var(--gray500);
                    }
                }
            }
            .view-all {
                text-align: center;
                display: block;
                background: var(--gray200);
                padding: 6px;
            }
        }
        // &:hover {
        //     .list {
        //         display: block;
        //     }
        // }
    }
    @media (max-width: 1300px) {
        .header-tab {
            ul {
                li {
                    a {
                        padding: 0 12px;
                    }
                }
            }
        }
    }
    @media (max-width: 1025px) {
        display: block;
        position: fixed!important;
        z-index: 998;
        width: 300px!important;
        background: #fff;
        left: 0;
        top: 48px!important;
        bottom: 0;
        -webkit-transform: translate(-110%, 0);
        -ms-transform: translate(-110%, 0);
        transform: translate(-110%, 0);
        -webkit-transition: all .3s;
        transition: all .3s;
        text-align: left;
        padding-left: 0;
        &.show-all-menu {
            transform: translate(0);
        }
        .container {
            padding: 0;
        }
        .header-tab {
            display: block;
            overflow: hidden;
            width: 100%;
            -webkit-transition: all .3s;
            transition: all .3s;
            &.hidden{
                -webkit-transform: translate(-110%, 0);
                -ms-transform: translate(-110%, 0);
                transform: translate(-110%, 0);
            }
            ul {
                display: block;
                width: 100%;
                li {
                    display: block;
                    border-bottom: 1px solid rgba(204, 204, 204, 0.57);
                    a {
                        line-height: 40px;
                        display: block;
                        font-size: 15px;
                        color: #333;
                        &.active {
                            color: #fff;
                            font-weight: 500;
                        }
                    }
                    .sub-menu {
                        display: block;
                        color: #fff;
                        background: none!important;
                        padding: 0 15px;
                        transform: rotate(-90deg);
                        font-size: 16px;
                        &.active {
                            color: #222;
                        }
                    }
                    &:hover,
                    &:active {
                        .lever2 {
                            position: static;
                            background: #fff;
                            display: block;
                            li {
                                padding-left: 15px;
                                &:last-child {
                                    border-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
            .next-nav{
                display: none;
            }
            .swiper-button-prev, .swiper-button-next{
                display: none;
            }
        }
        .menu-level-2 {
            position: fixed;
            z-index: 998;
            width: 300px;
            background: #fff;
            left: 0;
            top: 0;
            bottom: 0;
            box-shadow: none;
            -webkit-transform: translate(-110%, 0);
            -ms-transform: translate(-110%, 0);
            transform: translate(-110%, 0);
            -webkit-transition: all .3s;
            transition: all .3s;
            &.show{
                -webkit-transform: translate(0);
                -ms-transform: translate(0);
                transform: translate(0);
            }
            ul{
                display: block;
            }
        }
        .wrap-notifi {
            position: absolute;
            top: -47px;
            right: 15px;
            display: none;
        }
        .notifi {
            color: #222;
            .coutn {
                display: inline-block;
            }
            span {
                display: none;
            }
        }
    }
}


// New menu update
.accordion{
    &>li{
        .collapse{
            display: none;
        }
        &.active{
            .click{
                transform: rotate(90deg);
            }
        }
    }
}
.section-main{
    background: #F1F5F9;
    padding-left: 230px;
    min-height: 100vh;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    &.full {
        padding-left: 66px;
        .topnav {
            .title-page {
                padding-left: 30px;
            }
        }
        .menu-left {
            width: 66px;
            .logo{
                padding: 0;
            }
            .btn_control_menu {
                right: -30px;
                svg {
                    transform: rotate(180deg);
                }
            }
            .logo {
                padding-left: 0;
                justify-content: center;
                img {
                    width: 45px;
                }
                .before {
                    display: none
                }
                .after {
                    display: block
                }
            }
            .nav-left {
                overflow: visible;
                ul {
                    li {
                        a {
                            font-size: 0;
                            justify-content: center;
                            svg,i,img {
                                margin-right: 0;
                            }
                            &:hover{
                                span{
                                    font-size: 14px;
                                    position: absolute;
                                    left: 100%;
                                    background: #000;
                                    color: #fff;
                                    padding: 10px;
                                    white-space: nowrap;
                                }
                            }
                        }
                        .click{
                            display: none;
                        }
                        .level2 {
                            display: none!important;
                        }
                    }
                }
            }
            .out {
                padding: 0 10px;
                font-size: 0;
                justify-content: center;
                svg{
                    margin-right: 0;
                }
                &.active {
                    &::after {
                        opacity: 0;
                    }
                }
            }
        }
    }
    @media (max-width: 768px) {
        padding-left: 200px;
    }
    @media (max-width: 600px) {
        padding-left: 0;
    }
}
.menu-left {
    width: 230px;
    background: #000000;
    position: fixed;
    z-index: 13;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.2s all;
    .btn_control_menu{
        background: #000000;
        border-left: 1px solid #ffffff3b;
        height: 58px;
        width: 30px;
        position: absolute;
        right: -30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        transition: 0.2s all;
        svg{
            transition: 0.2s all;
            width: 16px;
            height: 16px;
        }
    }
    .logo {
        background: #000000;
        margin-bottom: 0;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 30px;
        border-bottom: 1px solid #ffffff3b;
        img {
            width: 98px;
        }
        .after{
            display: none
        }
    }
    .nav-left {
        max-height: calc(100% - 130px);
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: #E1E1E1 #fff;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #E1E1E1;
            width: 3px;
            border-radius: 6px;
        }
        ul {
            &>li {
                position: relative;
                border-bottom: 1px solid #ffffff3b;
                &:last-child{
                    border-bottom: 0;
                }
                a {
                    display: flex;
                    color: rgba(255, 255, 255, 0.85);
                    align-items: center;
                    padding: 13px 15px;
                    position: relative;
                    svg,i,img {
                        margin-right: 10px;
                        font-size: 16px;
                        width: 18px;
                    }
                }
                .click{
                    position: absolute;
                    width: 40px;
                    height: 44px;
                    right: 0;
                    top: 0;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    -webkit-transition: 0.2s all;
                    transition: 0.2s all;
                    &::before{
                        content: "";
                            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.97461 5.26953C5.97461 5.12305 5.91602 4.98828 5.80469 4.88281L1.16406 0.335937C1.05859 0.236328 0.929688 0.183594 0.777344 0.183594C0.478516 0.183594 0.244141 0.412109 0.244141 0.716797C0.244141 0.863281 0.302734 0.998047 0.396484 1.09766L4.66211 5.26953L0.396484 9.44141C0.302734 9.54102 0.244141 9.66992 0.244141 9.82227C0.244141 10.127 0.478516 10.3555 0.777344 10.3555C0.929688 10.3555 1.05859 10.3027 1.16406 10.1973L5.80469 5.65625C5.91602 5.54492 5.97461 5.41602 5.97461 5.26953Z' fill='%23F1F5F9'/%3e%3c/svg%3e");
                            width: 6px;
                            height: 11px;
                    }
                }
                .level2{
                    background: rgba(255,255,255,0.2);
                    padding-left: 42px;
                    border-top: 1px solid #ffffff3b;
                    li{
                        a{
                            padding: 12px 10px 12px 0;
                        }
                    }
                }
                &.active{
                    border-bottom: 0;
                    &>a{
                        background: rgba(255, 255, 255, 0.2);
                    }
                }
            }
        }
    }
    .out {
        display: flex;
        color: rgba(255, 255, 255, 0.85);
        height: 44px;
        align-items: center;
        padding: 0 15px;
        border-left: 2px solid transparent;
        position: absolute;
        bottom: 20px;
        width: 100%;
        svg {
            margin-right: 10px;
            width: 18px;
            height: 18px;
        }
    }
    @media (max-width: 768px) {
        width: 200px;
        .out {
            padding: 0 15px;
        }
    }
    @media (max-width: 600px) {
        will-change: transform;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
        z-index: 999;
        top: 50px;
        &.open {
            -webkit-transform: translate(0);
            transform: translate(0);
        }
        .logo,.btn_control_menu {
            display: none
        }
        .nav-left {
            max-height: calc(100% - 45px);
            ul {
                li {
                    a {
                        border-left: 0;
                        &.active {
                            border-left: 0
                        }
                    }
                }
            }
        }
        .out{
            bottom: 0;
        }
    }
}

.overlay-bg {
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 90;
    display: none;
    &.open {
        display: block
    }
}
// New menu update