@{
    ViewData["Title"] = "Quản lý phòng ban";
}

<section style="overflow-x: hidden;">
    <div class="row-main container">
        <h2 class="txt_18 bold mb20">Danh sách phòng ban</h2>
        <div class="flex fillter-donhang">
            <button type="button" class="btn btn-default mb10 mr-2" onclick="_department.ShowAddOrUpdate(0)">
                <i class="fa fa-plus"></i>Tạo phòng ban
            </button>
            <div class="form-group mb10 mr-2">
                <input type="text" class="form-control" id="ip_search_fullname" placeholder="Tên phòng ban" style="width: 250px;">
            </div>
            <div class="form-group mb10 mr-2 mfp-hide">
                <input type="text" class="form-control" id="ip_search_code" placeholder="Mã phòng ban" style="width: 150px;">
            </div>
            <div class="mb10 mr-2">
                <button type="button" class="btn btn-default bg-main" onclick="_department.OnSearch()">
                    <svg class="icon-svg" style="vertical-align: sub;">
                        <use xlink:href="/images/icons/icon.svg#search"></use>
                    </svg>
                    Tìm kiếm
                </button>
            </div>
        </div>
        <div id="grid_data" class="wrap_bg wrap_bg_no-padding mb20">
          
        </div>
    </div>
</section>

@section scripts {
<script type="text/javascript" src="~/modules/department.js"></script>
}