@using Entities.Models
@using Entities.ViewModels
@{
    Layout = null;
    var listPosition = (List<Position>)ViewBag.listPosition;
}
@model Position

<div id="them-chien-dich" class="white-popup">
    <div class="content_lightbox">
        <div class="form-default">
            <div class="hieu_luc flex ">
                <label>Kích cỡ : <a id="kichco"></a></label>
                <div class="wrap">
                    <select class="form-control" id="selectPosition" onchange="_groupProduct.ChangePosition()">
                        <option value="0" selected id="option0">--- Thêm mới kích cỡ ---</option>
                        @if (listPosition != null)
                        {
                            foreach (var item in listPosition)
                            {
                                <option value="@item.Id">@item.PositionName @item.Width x @item.Height</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="lbl">Mô tả</label>
                <div class="wrap_input">
                    <input type="text" class="form-control " id="positionName">
                </div>
            </div>
            <div class="form-group">
                <label class="lbl">Kích thước</label>
                <div class="wrap_input">
                    <div class="row">
                        <div class="col-6">
                            <input type="text" class="form-control " placeholder="Width" id="width">
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control " placeholder="Height" id="height">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group align-right mt20 block">
                <button onclick="_groupProduct.OnCreatePosition()" class="btn btn-default bg-main" id="btnAddPostion">
                    <i class="fa fa-plus-circle"></i>Tạo
                </button>
                <button onclick="_groupProduct.OnUpdatePosition()" class="btn btn-default bg-main" id="btnEditPostion">
                    <i class="fa fa-floppy-o"></i>Lưu
                </button>
                <button type="button" class="btn btn-default cancel" onclick="$.magnificPopup.close();">
                    <i class="fa fa-minus-circle"></i>Bỏ qua
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    .hieu_luc label {
        margin: 5px 0px 0 0;
        width: 100px;
    }

    .form-default .form-group .form-control.error {
         border-bottom: none !important; 
    }
</style>
<script>
    $().ready(function () {
        $('#btnAddPostion').show();
        $('#btnEditPostion').hide();
    });
</script>