<!--SECTION CONTAINER -->
<div class="login-popup">
    <div class="content_lightbox">
        <h3 class="center txt_18">Quên mật khẩu</h3>
        <div class="form-default">
            <div class="form-group mb30">
                <input type="text" class="form-control" id="email" placeholder="Nhập email bạn đã đăng ký" value="" >
            </div>
            <div class="bottom-btn flex">
                <a href="_user.OnForgotPassword"><i class="fa fa-sign-in"></i>Lấy lại mật khẩu</a>
                <a href="/" style="background: #A6A4A4;"><i class="fa fa-mail-reply"></i>Quay lại</a>
            </div>
        </div>
    </div>
</div>